@import "./sass/variable.module.scss";
h1 {
  text-transform: uppercase;
  font-size: $default-font-size-h1;
  margin-bottom: 1rem;
  color: $color-white;
}
h2 {
  font-size: $default-font-size-h2;
  color: $color-primary;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

p {
  font-size: $default-font-size-p;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
