@import "../../sass/variable.module.scss";
@import "../../sass/mixins.module.scss";
.poi {
  width: 90%;
  height: 80vh;
  margin: 0 auto 3rem auto;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: $color-primary;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    &__options {
      display: flex;
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
    select {
      margin: 0 2rem 1rem 0;
      padding: 1rem;
      color: inherit;
      font-family: inherit;
      font-size: $default-font-size-p;
      letter-spacing: 1px;
      border: none;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
}
.mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include respond(tab-port) {
    flex-direction: column;
    align-items: flex-start;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    color: $color-secondary;
  }
}
